<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=forlogic493\sql2017;Initial Catalog=desafio_sql; Integrated Security=true; User Id=sa; Password=abc123##;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>